<!DOCTYPE html>
<html>
<head>
  <title>Quick search mathes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "quick_search/mathes/application", media: "all" %>
  <%= javascript_include_tag "quick_search/mathes/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
